@inherits LayoutComponentBase

<div class="main-layout">
    <NavMenu />

    <main class="content px-4">
        @Body
    </main>
</div>

<style>
    .main-layout {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: #fff;
    }

    .content {
        flex: 1;
        margin-top: 70px; /* espacio para la barra superior */
    }
</style>

